.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #232731;
    width: auto;
    height: 50px;
    padding: 20px;
    margin: 20px;
    font-size: medium;
    font-family: "Didact Gothic";
    color: white;
    border-radius: 5px;
}

.button {
    background-color: #06b1df;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.input {
    padding:5px;
    margin: 5px;
}