body {
    background-color: #2a2f3a;
    color: white; 
    font-family: "Didact Gothic", sans-serif;
}

footer, .container, main, section {
    border: 2px solid #444444; 
    border-radius: 15px; 
    padding: 15px; 
    margin: 20px; 
    background-color: #3e4454; 
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.unFlipped, .flipped {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 250px;
    background-color: #323949;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 15px;
    font-size: x-large;
    color: white;
    font-family: "Didact Gothic";
    margin: 10px;
    box-shadow: 5px 10px 5px black;
}

.flipped {
    background-color: #06b1df;
}

@media (max-width: 768px) {
    .unFlipped, .flipped {
        width: 80%;
        max-width: 500px;
        min-width: 250px;
        height: 250px;
    }
}

/* phones */
@media (max-width: 480px) {
    .unFlipped, .flipped {
        width: 90%;
        max-width: 400px;
        min-width: 200px;
        height: 200px;
    }
}