.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232731;
    width: auto;
    height: 150px;
    /* border-width: medium;
    border-color: brown; */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.heading {
    font-size: x-large;
    font-family: "Didact Gothic";
    color: white;
}

.subheading {
    font-size: medium;
    font-family: "Didact Gothic";
    color: white;
}

.react {
    display: flex;
    justify-content: center;
}