.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232731;
    width: auto;
    height: 50px;
    padding: 20px;
    margin: 20px;
    font-size: medium;
    font-family: "Didact Gothic";
    color: white;
    border-radius: 5px;
}